{% extends "base.html" %}
{% set active_page = "announcements" %}

{% block title %}<title>Announcements</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>New Products and Services</h3>

      <p>We have just recieved an order of over 10 different kinds of skis ranging from brands such as Atomic with last
        years Bent Chetler model for a great all mountain ski to ON3P with their 2021 Magnus skis for people looking to
        get into freestlye. We also are now selling used bindings such as the atmoic shift bindings for backcountry
        skiing with a bundle option for an additional for an additional $120 that includes a pair of ski skins to better
        your backcountry experience.</p>
      <p>We have invested in a full tuning workshop for both skis and snowboards this past year and will now be offering
        full or partial tunings where you can select what services you would like us to perform on your equipment. At
        Bradley Skis we are able to sharpen ski and snowboard edges, wax both skis and snowboards, as well as sand sand
        down any blemishes or minor damages to your skis and snowboards.</p>
    </div>
    <div class="col-sm-6">

      <!-- column 2 -->
      <h3>Employee Layoffs</h3>
      <p>John Doe was released from the position of head of sales as of 3/1/2022</p>

      <h3>New Hires</h3>
      <p>Dante Smith was just brought in as the new head of sales as of 3/1/2022</p>
      <p>Tony Stark was hired on 2/17/2022 as the head of marketing</p>

      <h3>Financial Performance Reports</h3>
    </div>
  </div>
</div>
{% endblock %}