{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>
      
        <p>Company Bylaws for Corporation
          <ul> 
            <li><a
            href=</li>
      </ul>
      <p>Company Bylaws for Corporation

      </p>
      <p>Meeting Minutes

      </p>
      <p>Non-Disclosure Agreements(NDA)
        
      </p>
      <p>Memorandum-Atomic
        
      </p>
      <p>Memorandum-ON3P LLC
        
      </p>
    </div>
    
  </div>
</div>
{% endblock %}