{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>
      
        <p>Company Bylaws for Corporation
          <ul>
            <li><a href=file:///D:/UNH/E-Business/E-Business%20Bylaws.pdf>Company Bylaws for Corporation</a>
            </li>
        </ul>
        </p>
      <p>Meeting Minutes
        <ul>
          <li><a href=https://docs.google.com/document/d/1ogxTQf3v9FaaoCPAHWsTI0RdHG4h4kCq5830sfzMEZQ/edit>Company Bylaws for Corporation</a>
          </li>
      </ul>
      </p>
      <p>Non-Disclosure Agreements(NDA)
        <ul>
          <li><a href=file:///D:/UNH/E-Business/E-business%20NDA.pdf>NDA</a>
          </li>
      </ul>
      </p>
      <p>Memorandum
        <ul>
          <li><a href=file:///D:/UNH/E-Business/Memorandum-of-Understanding-Template-Signaturely-Atomic.pdf>Atomic</a>
          </li>
          <li><a href=file:///D:/UNH/E-Business/Memorandum-of-Understanding-Template-Signaturely-ON3P.pdf>ON3P</a>
          </li>
      </ul>
      </p>
    </div>
    
  </div>
</div>
{% endblock %}