{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>Welcome</h3>

      <p>Welcome to Bradley Skis Company, here we sell used skis and provide demo services for people who are looking to
        get a nice pair of skis at reasonable prices. We also offer demos to our customers to ensure that they enjoy our
        products and find the pair of skis that best suits their own personal style of skiing.
        products.</p>
      <p>Click through our website and browse to find your new pair of skis, and check out the various services we offer
        from ski demos to ski and snowboard tunings.</p>
      <p>Check out our new stock featuring a pair of 2021 Bent Chetler 100, The most versatile member of the Bent
        Chetler family, the Atomic Bent Chetler 100 is a go-anywhere, do-everything freeride ski. Designed by ski legend
        Chris Benchetler, this all-mountain ski is a slimmed down version of the award-winning signature model offering
        a wide (but not too fat) 100mm waist for maximum versatility. The directional shape of the Bent Chetler 100
        features HRZN Tech in the tip and tail for increased surface area and float, a Light Woodcore and generous
        Powder Rocker for slashing and slarving the entire mountain. The Dura Cap Sidewall offers controlled power
        transmission and commanding edge grip on harder snow surfaces. Whether its fresh snow, deep untracked, or hard
        variable conditions, the ski magazines have praised the Atomic Bent Chetler 100 as a hero ski.</p>
    </div>
    <div class="col-sm-6">

      <!-- column 2 -->

      <h3>News</h3>
      <p>We have just recieved an order of over 10 different kinds of skis ranging from brands such as Atomic with last
        years Bent Chetler model for a great all mountain ski to ON3P with their 2021 Magnus skis for people looking to
        get into freestlye. We also are now selling used bindings such as the atmoic shift bindings for backcountry
        skiing with a bundle option for an additional for an additional $120 that includes a pair of ski skins to better
        your backcountry experience.</p>
      <p>We have invested in a full tuning workshop for both skis and snowboards this past year and will now be offering
        full or partial tunings where you can select what services you would like us to perform on your equipment. At
        Bradley Skis we are able to sharpen ski and snowboard edges, wax both skis and snowboards, as well as sand sand
        down any blemishes or minor damages to your skis and snowboards.</p>
    </div>
  </div>
</div>
{% endblock %}